*.pyc
__pycache__/
.pytest_cache/
.coverage
.mypy_cache/
.pytype/
.pylint.d/
.coverage.456
.coverage.456.html
.coverage*
.hypothesis/
.pytest_cache/
.pytest_results.bin
.tox/
.cache
.venv
dist/
build/
django_unittest_logger.log

